th  {
    border: 1px solid black;
    width: 35px;
    height: 35px;
  }
body{

background-color:rgb(83, 190, 226);
}

  .table
  {
      margin-top: 70px;
      margin-left: 340px;

  }


  h1{
      text-align: center;
    font-family: times new roman;
    color: black ;


  }

td
{
    border: solid rgb(32, 29, 29);
}

.NoMetale
{
    background-color: rgb(224, 20, 20);

}
.Alcalinos
{
    background-color: rgb(102, 4, 102);
}
.Alcalinoterreos
{
    background-color:rgb(176, 233, 176);
}
.Metalescolor
{
    background-color: rgb(165, 108, 118);
}
.actinidos
{
    background-color: rgb(119, 206, 235);
}
.Lantanidos
{
    background-color: rgba(255, 255, 255, 0.945);
}

.Metaloides
{
    background-color: rgb(9, 9, 236);

}
.Ometales
{
    background-color: rgb(170, 170, 52);

}
.GasesNobles
{
    background-color: rgb(247, 96, 247);
}
.Halogenos
{
    background-color: rgb(197, 50, 50);
}

.itable
{

    margin-top: 70px;
    margin-left: 400px;

}
.gray
{
   border:1px solid black;
    width: 95px;
    height: 95px;
    background-color: gray;
}
.flex
{
    display: flex;
}
.metales
{   border:1px solid black;
    background-color: gray;
    width: 495px;
    color: rgb(7, 7, 7);
    text-align: center;
    padding:  15px;
    margin-bottom: -5px;
}
.NoMetale
{  border:1px solid black;
    background-color: gray;
    width: 160px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding:  15px;
    margin-bottom: -5px;
}
.re
{   border:1px solid black;
    background-color: rgb(190, 236, 81);
    padding-top: 10px;
    width: 70px;
    height: 35px;
    margin-top: 19px;


}
